<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zacharycalabrese.doughboy.simplenews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:icon"
        android:icon="@mipmap/ic_launcher"
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="simple_news.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.zacharycalabrese.doughboy.simplenews" />

        <activity
            android:name="com.zacharycalabrese.doughboy.simplenews.Activity.Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zacharycalabrese.doughboy.simplenews.Activity.Weather"
            android:label="@string/activity_weather_name" >
        </activity>
        <activity
            android:name="com.zacharycalabrese.doughboy.simplenews.Activity.News"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="com.zacharycalabrese.doughboy.simplenews.Activity.Settings"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="com.zacharycalabrese.doughboy.simplenews.Activity.SourcePreferences"
            android:label="@string/title_activity_settings_sources">
            <intent-filter>
                <action android:name=".activity.Activity.SourcePreferences" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zacharycalabrese.doughboy.simplenews.Activity.Web"
            android:label="@string/title_activity_web" >
        </activity>
    </application>

</manifest>
