<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zacharycalabrese.doughboy.simplenews2" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="simple_news.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.zacharycalabrese.doughboy.simplenews2" />

        <activity
            android:name=".activity.Activity.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Activity.Weather"
            android:label="@string/activity_weather_name" >
        </activity>
        <activity
            android:name=".activity.Activity.News"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name=".activity.Activity.Settings"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activity.Activity.SourcePreferences"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_settings_sources" >
            <intent-filter>
                <action android:name=".activity.Activity.SourcePreferences" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
